<form class="form">

    <p class="SignIn" >Sign In</p>

    <input [(ngModel)]="id" placeholder="Email address or phone number" class="input" type="text">
    <input [(ngModel)]="password" placeholder="Password" class="input" type="password" id="password">

    <button type="button" id="loginBtn">Log in</button>
    
    <p>Don't have account? <a id="forgotPassword" href="#" routerLink="signUp">Create new account</a></p>
    <!-- <button class="create" id="createAccountBtn">Create new account</button> -->
</form>