<div>
    <form class="form">
        <span class="signup">Sign Up</span>
        <input type="text" [(ngModel)]="id" class="form--input">
        <input type="text" [(ngModel)]="user_name" placeholder="user_name" class="form--input">
        <input type="text" [(ngModel)]="password" placeholder="Confirm password" class="form--input">

        <p>Already have account? <a href="">Sign</a></p>

        <button (click)="register()" class="form--submit" type="submit">Sign up</button>
    </form>
</div>